<div class="swiper-slide">
    <div class="card-grid-style-1">
        <div class="image-box"><a href="blog-single-2.html"></a><img src="/assets/imgs/page/blog/blog-1.jpg" alt="Ecom"></div><a class="tag-dot font-xs" href="blog-list.html">Technology</a><a class="color-gray-1100" href="blog-single-2.html">
            <h4>The latest technologies to be used for VR in 2022</h4>
        </a>
        <div class="mt-20"><span class="color-gray-500 font-xs mr-30">September 02, 2022</span><span class="color-gray-500 font-xs">4<span> Mins read</span></span></div>
    </div>
</div>