<p-panel header="Danh sách sản phẩm">
  <!--Filter (search panel)-->
  <div class="grid">
    <div class="col-4">4</div>
    <div class="col-8">8</div>
  </div>

  <!--Table-->
  <p-table #pnl [value]="items">
    <ng-template pTemplate="header">
      <tr>
        <th>Mã</th>
        <th>SKU</th>
        <th>Tên</th>
        <th>Loại</th>
        <th>Tên danh mục</th>
        <th>Thứ tự</th>
        <th>Hiển thị</th>
        <th>Kích hoạt</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.code }}</td>
        <td>{{ row.sku }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.productType }}</td>
        <td>{{ row.categoryId }}</td>
        <td>{{ row.sortOrder }}</td>
        <td>{{ row.visibility }}</td>
        <td>{{ row.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">Tổng số bản ghi: {{ totalCount | number }}</div>
    </ng-template>
  </p-table>
  <!--Paginator-->
  <p-paginator [rows]="maxResultCount" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)" [rowsPerPageOptions]="[10, 20, 30, 50, 100]"></p-paginator>
  <!--Block UI-->
  <p-blockUI [blocked]="blockedPanel" [target]="pnl"></p-blockUI>
</p-panel>
