<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Quản lý người dùng </p-header>
    <div class="grid">
      <div class="col-4">
        <button
          appPermission
          appFunction="LEARNING_COURSE_CATEGORY"
          appAction="CREATE"
          pButton
          type="button"
          label="Thêm"
          icon="fa fa-plus"
          (click)="showAddModal()"
          class="ml-1 p-button-info"
        ></button>
        <button
          appPermission
          appFunction="LEARNING_COURSE_CATEGORY"
          appAction="DELETE"
          pButton
          type="button"
          label="Xóa"
          icon="fa fa-trash"
          class="ml-1 p-button-danger"
          *ngIf="selectedItems.length > 0"
          (click)="deleteItems()"
        ></button>
        <button
          appPermission
          appFunction="LEARNING_COURSE_CATEGORY"
          appAction="UPDATE"
          pButton
          type="button"
          label="Sửa"
          icon="fa fa-edit"
          class="ml-1 p-button-help"
          *ngIf="selectedItems.length == 1"
          (click)="showEditModal()"
        ></button>
      </div>
      <div class="col-8">
        <div class="formgroup-inline">
          <div class="field">
            <input
              id="txtKeyword"
              pInputText
              (keyup.enter)="loadData()"
              [(ngModel)]="keyword"
              placeholder="Nhập từ khóa..."
              type="text"
            />
          </div>
          <button type="button" pButton (click)="loadData()">Tìm</button>
        </div>
      </div>
    </div>
    <p-table
      #dt
      [value]="items"
      selectionMode="multiple"
      dataKey="id"
      [(selection)]="selectedItems"
      [metaKeySelection]="true"
      [responsive]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Tên</th>
          <th>Tài khoản</th>
          <th>Email</th>
          <th>Số ĐT</th>
          <th>Ngày tham gia</th>
          <th style="width: 150px">Trạng thái</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.userName }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.phoneNumber }}</td>
          <td>{{ row.creationTime | date: 'dd-MM-yyyy hh:mm' }}</td>
          <td style="width: 150px">
            <p-badge *ngIf="row.isActive == 1" value="Kích hoạt" severity="success"></p-badge>
            <p-badge *ngIf="row.isActive == 0" value="Khoá" severity="danger"></p-badge>
          </td>
          <td>
            <!-- <button
              pButton
              pRipple
              type="button"
              icon="pi pi-key"
              pTooltip="Đặt mật khẩu"
              tooltipPosition="top"
              class="p-button-rounded p-button-text"
              (click)="setPassword(row.id)"
            ></button>
            
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-users"
              pTooltip="Gán vai trò"
              tooltipPosition="top"
              (click)="assignRole(row.id)"
              class="p-button-rounded p-button-text"
            ></button> -->
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="maxResultCount"
      [totalRecords]="totalCount"
      (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
    ></p-paginator>

    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
