<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Quản lý quyền </p-header>
    <div class="grid">
      <div class="col-6">
        <button
          appPermission
          appFunction="LEARNING_COURSE_CATEGORY"
          appAction="CREATE"
          pButton
          type="button"
          label="Thêm"
          icon="fa fa-plus"
          (click)="showAddModal()"
          class="ml-1 p-button-info"
        ></button>
        <button
          appPermission
          appFunction="LEARNING_COURSE_CATEGORY"
          appAction="DELETE"
          pButton
          type="button"
          label="Xóa"
          icon="fa fa-trash"
          class="ml-1 p-button-danger"
          *ngIf="selectedItems.length > 0"
          (click)="deleteItems()"
        ></button>
        <button
          appPermission
          appFunction="LEARNING_COURSE_CATEGORY"
          appAction="UPDATE"
          pButton
          type="button"
          label="Sửa"
          icon="fa fa-edit"
          class="ml-1 p-button-help"
          *ngIf="selectedItems.length == 1"
          (click)="showEditModal()"
        ></button>
      </div>
      <div class="col-6">
        <div class="formgroup-inline">
          <div class="field">
            <input
              id="txtKeyword"
              pInputText
              (keyup.enter)="loadData()"
              [(ngModel)]="keyword"
              placeholder="Nhập tên nhóm..."
              type="text"
            />
          </div>
          <button type="button" pButton (click)="loadData()">Tìm</button>
        </div>
      </div>
    </div>
    <p-table
      #dt
      [value]="items"
      selectionMode="multiple"
      dataKey="id"
      [(selection)]="selectedItems"
      [metaKeySelection]="true"
      [responsive]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10px">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Tên</th>
          <th>Mô tả</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td style="width: 10px">
            <span class="ui-column-title"></span>
            <p-tableCheckbox [value]="row"></p-tableCheckbox>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.description }}</td>
          <td>
            <button pButton (click)="showPermissionModal(row.id, row.name)">Phân quyền</button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="maxResultCount"
      [totalRecords]="totalCount"
      (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
    ></p-paginator>

    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner
        [style]="{ width: '100px', height: '100px', position: 'absolute', top: '25%', left: '50%' }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
