<div
  class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="grid justify-content-center p-2 lg:p-0" style="min-width: 80%">
    <div class="col-12 mt-5 xl:mt-0 text-center">
      <img
        src="assets/layout/images/{{
          layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'
        }}.svg"
        alt="Sakai logo"
        class="mb-5"
        style="width: 81px; height: 60px"
      />
    </div>
    <div
      class="col-12 xl:col-6"
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);
      "
    >
      <div
        class="h-full w-full m-0 py-7 px-4"
        style="
          border-radius: 53px;
          background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));
        "
      >
        <div class="text-center mb-5">
          <div class="text-900 text-3xl font-medium mb-3">Xin chào quản trị!</div>
          <span class="text-600 font-medium">Đăng nhập</span>
        </div>

        <form class="w-full md:w-10 mx-auto" [formGroup]="loginForm">
          <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
          <input
            id="email1"
            formControlName="username"
            type="text"
            placeholder="Địa chỉ email"
            pInputText
            class="w-full mb-3"
            style="padding: 1rem"
          />

          <label for="password1" class="block text-900 font-medium text-xl mb-2">Mật khẩu</label>
          <p-password
            id="password1"
            formControlName="password"
            placeholder="Mật khẩu"
            [toggleMask]="true"
            styleClass="w-full mb-3"
          ></p-password>

          <button
            pButton
            pRipple
            (click)="login()"
            label="Đăng nhập"
            class="w-full p-3 text-xl"
          ></button>
        </form>
        <p-blockUI [blocked]="blockedPanel">
          <p-progressSpinner></p-progressSpinner>
        </p-blockUI>
      </div>
    </div>
  </div>
</div>
